# Data Exploration and Beginning Analysis

## Importing necessary packages and libraries

In [4]:
import pandas as pd
import numpy as np
import sqlite3
import zipfile
import matplotlib.pyplot as plt

%matplotlib inline

## Opening .csv/.tsv/.db files and assigning to variables

### Box Office Mojo

In [24]:
# Columns of note:
    # studio
    # domestic_gross / foreign_gross
    
box_office_df = pd.read_csv('data/bom.movie_gross.csv.gz')
box_office_df.head();

### RottenTomatoes

In [23]:
# Columns of note:
    # (MPAA) rating
    # synopsis (?)
    # studio
    # box_office
    # runtime

rt_movies_df = pd.read_csv('data/rt.movie_info.tsv.gz', sep="\t")

rt_movies_df['genre list'] = rt_movies_df['genre'].str.split("|")

rt_movies_df.head();

In [19]:
# Columns of note
    # rating
    # fresh
    # top_critic (use as filter?)
    
rt_reviews_df = pd.read_csv('data/rt.reviews.tsv.gz', sep='\t',encoding = 'unicode_escape')
rt_reviews_df.head();

### The Movie Database

In [18]:
# Columns of note
    # vote_count
    # vote_average
    # id
    # title

tmdb_df = pd.read_csv('data/tmdb.movies.csv.gz', index_col=0)
tmdb_df.head();

### The Numbers

In [17]:
# Columns of note:
    # movie
    # production_budget
    # domestic_gross / worldwide_gross

tn_df = pd.read_csv('data/tn.movie_budgets.csv.gz', index_col=0)
tn_df;

### IMDb (Internet Movie Database)

In [11]:
# Extract IMDb SQL .db file
with zipfile.ZipFile('data/im.db.zip') as zipObj:
    # Extract all contents of .zip file into current directory
    zipObj.extractall(path='data/')

In [12]:
# Connect to IMDB DB and get schema
con = sqlite3.connect('data/im.db')

pd.read_sql("""

SELECT *
FROM sqlite_master

""",con)

,type,name,tbl_name,rootpage,sql
0,table,movie_basics,movie_basics,2,"CREATE TABLE ""movie_basics"" (\n""movie_id"" TEXT..."
1,table,directors,directors,3,"CREATE TABLE ""directors"" (\n""movie_id"" TEXT,\n..."
2,table,known_for,known_for,4,"CREATE TABLE ""known_for"" (\n""person_id"" TEXT,\..."
3,table,movie_akas,movie_akas,5,"CREATE TABLE ""movie_akas"" (\n""movie_id"" TEXT,\..."
4,table,movie_ratings,movie_ratings,6,"CREATE TABLE ""movie_ratings"" (\n""movie_id"" TEX..."
5,table,persons,persons,7,"CREATE TABLE ""persons"" (\n""person_id"" TEXT,\n ..."
6,table,principals,principals,8,"CREATE TABLE ""principals"" (\n""movie_id"" TEXT,\..."
7,table,writers,writers,9,"CREATE TABLE ""writers"" (\n""movie_id"" TEXT,\n ..."

In [13]:
# Columns of note (movie_basics):
    # movie_id
    # primary_title / original_title
    # runtime_minutes
    # genres
    
# Columns of note (movie_ratings):
    # movie_id
    # averagerating
    # numvotes

In [ ]:
# imdb_basics_df = pd.read_sql("""
# SELECT *
# FROM movie_basics
# """,con);

# imdb_ratings_df = pd.read_sql("""
# SELECT *
# FROM movie_ratings
# """,con1)

## Data Cleaning: