In [114]:
import pandas as pd
import seaborn as sns

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor, plot_tree
from sklearn.model_selection import cross_val_score, GridSearchCV, KFold, train_test_split
from sklearn.linear_model import Lasso, Ridge, LinearRegression, LogisticRegression
from sklearn.dummy import DummyClassifier, DummyRegressor

In [72]:
df = pd.read_csv('../data/bigml_59c28831336c6604c800002a.csv')

In [111]:
 class ModelWithCV(): #class acquired through Flatiron School
    '''Structure to save the model and more easily see its crossvalidation'''
    
    def __init__(self, model, model_name, X, y, cv_now=True):
        self.model = model
        self.name = model_name
        self.X = X
        self.y = y
        # For CV results
        self.cv_results = None
        self.cv_mean = None
        self.cv_median = None
        self.cv_std = None
        #
        if cv_now:
            self.cross_validate()
        
    def cross_validate(self, X=None, y=None, kfolds=10):
        '''
        Perform cross-validation and return results.
        
        Args: 
          X:
            Optional; Training data to perform CV on. Otherwise use X from object
          y:
            Optional; Training data to perform CV on. Otherwise use y from object
          kfolds:
            Optional; Number of folds for CV (default is 10)  
        '''
        
        cv_X = X if X else self.X
        cv_y = y if y else self.y

        self.cv_results = cross_val_score(self.model, cv_X, cv_y, cv=kfolds)
        self.cv_mean = np.mean(self.cv_results)
        self.cv_median = np.median(self.cv_results)
        self.cv_std = np.std(self.cv_results)

        
    def print_cv_summary(self):
        cv_summary = (
        f'''CV Results for `{self.name}` model:
            {self.cv_mean:.5f} ± {self.cv_std:.5f} accuracy
        ''')
        print(cv_summary)

        
    def plot_cv(self, ax):
        '''
        Plot the cross-validation values using the array of results and given 
        Axis for plotting.
        '''
        ax.set_title(f'CV Results for `{self.name}` Model')
        # Thinner violinplot with higher bw
        sns.violinplot(y=self.cv_results, ax=ax, bw=.4)
        sns.swarmplot(
                y=self.cv_results,
                color='orange',
                size=10,
                alpha= 0.8,
                ax=ax
        )

        return ax

In [73]:
df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [74]:
df.describe()

,account length,area code,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3333 non-null   object
 1   account length          3333 non-null   int64
 2   area code               3333 non-null   int64
 3   phone number            3333 non-null   object
 4   international plan      3333 non-null   object
 5   voice mail plan         3333 non-null   object
 6   number vmail messages   3333 non-null   int64
 7   total day minutes       3333 non-null   float64
 8   total day calls         3333 non-null   int64
 9   total day charge        3333 non-null   float64
 10  total eve minutes       3333 non-null   float64
 11  total eve calls         3333 non-null   int64
 12  total eve charge        3333 non-null   float64
 13  total night minutes     3333 non-null   float64
 14  total night calls       3333 non-null   int64
 15  total night charge      3333 non-null   float64
 16  total intl minutes      3333 non-null   float64
 17  total intl calls        3333 non-null   int64
 18  total intl charge       3333 non-null   float64
 19  customer service calls  3333 non-null   int64
 20  churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(4)
memory usage: 524.2+ KB

In [76]:
len(df['state'].value_counts()) ###???

51

In [77]:
df['state'].value_counts().sort_index()  # 51 because including DC??? are they refering to the District of Columbia

AK     52
AL     80
AR     55
AZ     64
CA     34
CO     66
CT     74
DC     54
DE     61
FL     63
GA     54
HI     53
IA     44
ID     73
IL     58
IN     71
KS     70
KY     59
LA     51
MA     65
MD     70
ME     62
MI     73
MN     84
MO     63
MS     65
MT     68
NC     68
ND     62
NE     61
NH     56
NJ     68
NM     62
NV     66
NY     83
OH     78
OK     61
OR     78
PA     45
RI     65
SC     60
SD     60
TN     53
TX     72
UT     72
VA     77
VT     73
WA     66
WI     78
WV    106
WY     77
Name: state, dtype: int64

In [78]:
df.churn.value_counts(), df.churn.value_counts(normalize=True)

(False    2850
 True      483
 Name: churn, dtype: int64,
 False    0.855086
 True     0.144914
 Name: churn, dtype: float64)

In [79]:
df.churn.value_counts(normalize=True)

False    0.855086
True     0.144914
Name: churn, dtype: float64

In [80]:
df['area code'].value_counts(normalize=False), df['area code'].value_counts(normalize=True),

(415    1655
 510     840
 408     838
 Name: area code, dtype: int64,
 415    0.496550
 510    0.252025
 408    0.251425
 Name: area code, dtype: float64)

In [81]:
df.head(1)

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.7,1,False

In [82]:
df.columns

Index(['state', 'account length', 'area code', 'phone number',
       'international plan', 'voice mail plan', 'number vmail messages',
       'total day minutes', 'total day calls', 'total day charge',
       'total eve minutes', 'total eve calls', 'total eve charge',
       'total night minutes', 'total night calls', 'total night charge',
       'total intl minutes', 'total intl calls', 'total intl charge',
       'customer service calls', 'churn'],
      dtype='object')

In [83]:
columns = list(df.columns)

In [84]:
[{(x, (len(df[x].value_counts()))): [df[x].value_counts()]} for x in columns]

[{('state',
   51): [WV    106
   MN     84
   NY     83
   AL     80
   OR     78
   WI     78
   OH     78
   VA     77
   WY     77
   CT     74
   VT     73
   MI     73
   ID     73
   UT     72
   TX     72
   IN     71
   MD     70
   KS     70
   NC     68
   MT     68
   NJ     68
   WA     66
   CO     66
   NV     66
   RI     65
   MA     65
   MS     65
   AZ     64
   FL     63
   MO     63
   ME     62
   ND     62
   NM     62
   OK     61
   DE     61
   NE     61
   SC     60
   SD     60
   KY     59
   IL     58
   NH     56
   AR     55
   GA     54
   DC     54
   TN     53
   HI     53
   AK     52
   LA     51
   PA     45
   IA     44
   CA     34
   Name: state, dtype: int64]},
 {('account length',
   212): [105    43
   87     42
   93     40
   101    40
   90     39
          ..
   191     1
   199     1
   215     1
   221     1
   2       1
   Name: account length, Length: 212, dtype: int64]},
 {('area code',
   3): [415    1655
   510     840
   408     838
   Name: area code, dtype: int64]},
 {('phone number',
   3333): [359-4336    1
   404-9680    1
   377-3417    1
   345-7014    1
   375-5414    1
              ..
   405-1132    1
   333-8822    1
   401-3077    1
   408-6621    1
   389-6955    1
   Name: phone number, Length: 3333, dtype: int64]},
 {('international plan',
   2): [no     3010
   yes     323
   Name: international plan, dtype: int64]},
 {('voice mail plan',
   2): [no     2411
   yes     922
   Name: voice mail plan, dtype: int64]},
 {('number vmail messages',
   46): [0     2411
   31      60
   29      53
   28      51
   33      46
   27      44
   30      44
   24      42
   26      41
   32      41
   25      37
   23      36
   36      34
   35      32
   22      32
   39      30
   37      29
   34      29
   21      28
   38      25
   20      22
   19      19
   40      16
   42      15
   17      14
   41      13
   16      13
   43       9
   15       9
   18       7
   44       7
   14       7
   45       6
   12       6
   46       4
   13       4
   47       3
   8        2
   48       2
   50       2
   9        2
   11       2
   49       1
   10       1
   4        1
   51       1
   Name: number vmail messages, dtype: int64]},
 {('total day minutes',
   1667): [174.5    8
   159.5    8
   154.0    8
   175.4    7
   162.3    7
           ..
   199.9    1
   105.8    1
   125.6    1
   179.8    1
   270.8    1
   Name: total day minutes, Length: 1667, dtype: int64]},
 {('total day calls',
   119): [102    78
   105    75
   107    69
   95     69
   104    68
          ..
   149     1
   157     1
   36      1
   30      1
   165     1
   Name: total day calls, Length: 119, dtype: int64]},
 {('total day charge',
   1667): [27.12    8
   26.18    8
   29.67    8
   31.18    7
   27.59    7
           ..
   19.36    1
   16.95    1
   34.12    1
   48.35    1
   13.28    1
   Name: total day charge, Length: 1667, dtype: int64]},
 {('total eve minutes',
   1611): [169.9    9
   230.9    7
   209.4    7
   201.0    7
   220.6    7
           ..
   335.0    1
   258.9    1
   134.7    1
   318.8    1
   317.2    1
   Name: total eve minutes, Length: 1611, dtype: int64]},
 {('total eve calls',
   123): [105    80
   94     79
   108    71
   97     70
   102    70
          ..
   45      1
   49      1
   145     1
   153     1
   0       1
   Name: total eve calls, Length: 123, dtype: int64]},
 {('total eve charge',
   1440): [14.25    11
   16.12    11
   15.90    10
   18.62     9
   14.44     9
            ..
   12.64     1
   13.83     1
   11.39     1
   28.03     1
   20.53     1
   Name: total eve charge, Length: 1440, dtype: int64]},
 {('total night minutes',
   1591): [210.0    8
   214.6    8
   197.4    8
   191.4    8
   188.2    8
           ..
   132.3    1
   306.2    1
   293.5    1
   271.7    1
   182.6    1
   Name: total night minutes, Length: 1591, dtype: int64]},
 {('total night calls',
   120): [105    84
   104    78
   91     76
   102    72
   100    69
          ..
   164     1
   166     1
   33      1
   149     1
   36      1
   Name: total night calls, Length: 120, dtype: int64]},
 {('total night charge',
   933): [9.66     15
   9.45     15
   8.88     14
   8.47     14
   7.69     13
            ..
   14.65     1
   6.46      1
   3.94      1
   15.74     1
   6.14      1
   Name: total night charge, Length: 933, dtype: int64]},
 {('total intl minutes',
   162): [10.0    62
   11.3    59
   9.8     56
   10.9    56
   10.1    53
           ..
   18.9     1
   1.3      1
   2.7      1
   2.6      1
   3.1      1
   Name: total intl minutes, Length: 162, dtype: int64]},
 {('total intl calls',
   21): [3     668
   4     619
   2     489
   5     472
   6     336
   7     218
   1     160
   8     116
   9     109
   10     50
   11     28
   0      18
   12     15
   13     14
   15      7
   14      6
   18      3
   16      2
   19      1
   17      1
   20      1
   Name: total intl calls, dtype: int64]},
 {('total intl charge',
   162): [2.70    62
   3.05    59
   2.65    56
   2.94    56
   2.73    53
           ..
   0.68     1
   4.83     1
   0.84     1
   0.30     1
   5.40     1
   Name: total intl charge, Length: 162, dtype: int64]},
 {('customer service calls',
   10): [1    1181
   2     759
   0     697
   3     429
   4     166
   5      66
   6      22
   7       9
   9       2
   8       2
   Name: customer service calls, dtype: int64]},
 {('churn',
   2): [False    2850
   True      483
   Name: churn, dtype: int64]}]

In [85]:
df['international plan'] = df['international plan'].str.replace('yes','1') #replacing yes with 1
df['international plan'] = df['international plan'].str.replace('no','0') #replacing no with 0
df['international plan'].value_counts()

0    3010
1     323
Name: international plan, dtype: int64

In [86]:
df['voice mail plan'] = df['voice mail plan'].str.replace('yes','1') #replacing yes with 1
df['voice mail plan'] = df['voice mail plan'].str.replace('no','0') #replacing no with 0
df['voice mail plan'].value_counts()

0    2411
1     922
Name: voice mail plan, dtype: int64

In [87]:
df.loc[df['churn'] == True, 'churn'] = 1
df.loc[df['churn'] == False, 'churn'] = 0
df['churn'].value_counts()

0    2850
1     483
Name: churn, dtype: int64

In [88]:
df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,0,1,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,371-7191,0,1,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,358-1921,0,0,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,375-9999,1,0,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,330-6626,1,0,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

In [95]:
df.columns

Index(['state', 'account length', 'area code', 'phone number',
       'international plan', 'voice mail plan', 'number vmail messages',
       'total day minutes', 'total day calls', 'total day charge',
       'total eve minutes', 'total eve calls', 'total eve charge',
       'total night minutes', 'total night calls', 'total night charge',
       'total intl minutes', 'total intl calls', 'total intl charge',
       'customer service calls', 'churn'],
      dtype='object')

In [ ]:
X =

In [ ]:
#retrieved from phase 2 project
dr = DummyClassifier()

dummy_model = dr.fit(X_train, y_train)
R2_dummy_train =dr.score(X_train,y_train)
R2_dummy_test = dr.score(X_test,y_test)


dr_yhat_train = dr.predict(X_train)
dr_train_rmse = mean_squared_error(np.exp(y_train), np.exp(dr_yhat_train), squared = False)

dr_yhat_test = dr.predict(X_test)
dr_test_rmse = mean_squared_error(np.exp(y_test), np.exp(dr_yhat_test), squared = False)

dr_residuals_train = y_train - dr_yhat_train
dr_residuals_test = y_test - dr_yhat_test

    
print(f'Train R2: {R2_dummy_train}')
print(f'Test R2: {R2_dummy_test}')
print(f'Train RMSE: {dr_train_rmse}')
print(f'Test RMSE: {dr_test_rmse}')